app/step-functions-templates/glue_succeeded_events_to_draft_update_sfn_template.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Save vars",
  "States": {
    "Save vars": {
      "Type": "Pass",
      "Next": "Get workflow run object",
      "Assign": {
        "upstreamPortalRunId": "{% $states.input.portalRunId %}",
        "libraries": "{% $states.input.libraries %}",
        "upstreamWorkflowName": "{% $states.input.workflow.name %}",
        "upstreamWorkflowVersion": "{% $states.input.workflow.version %}",
        "analysisRunId": "{% $states.input.analysisRun ? $states.input.analysisRun.orcabusId : null %}",
        "rgidList": "{% $states.input.libraries.(readsets).(rgid) ? [ $states.input.libraries.(readsets).(rgid) ] : null %}"
      }
    },
    "Get workflow run object": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "${__get_workflow_run_object_lambda_function_arn__}",
        "Payload": {
          "portalRunId": "{% $upstreamPortalRunId %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Get arriba draft",
      "Assign": {
        "upstreamWorkflowRunObject": "{% $states.result.Payload.workflowRunObject %}",
        "analysisRunId": "{% $states.result.Payload.workflowRunObject.analysisRun ? $states.result.Payload.workflowRunObject.analysisRun.orcabusId : null %}"
      }
    },
    "Get arriba draft": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "${__find_latest_workflow_lambda_function_arn__}",
        "Payload": {
          "workflowName": "${__workflow_name__}",
          "libraries": "{% $libraries %}",
          "analysisRunId": "{% $analysisRunId %}",
          "status": "${__draft_status__}",
          "rgidList": "{% $rgidList %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Did we get a arriba portal run id",
      "Assign": {
        "draftPortalRunIdList": "{% $states.result.Payload.workflowRunList ? $states.result.Payload.workflowRunList.(portalRunId) : null %}"
      }
    },
    "Did we get a arriba portal run id": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "For each draft portal run id",
          "Condition": "{% $draftPortalRunIdList ? true : false %}"
        }
      ],
      "Default": "No arriba portal run id found"
    },
    "For each draft portal run id": {
      "Type": "Map",
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "Set map vars",
        "States": {
          "Set map vars": {
            "Type": "Pass",
            "Assign": {
              "draftPortalRunIdMapIter": "{% $states.input %}"
            },
            "Next": "Get arriba rna draft payload"
          },
          "Get arriba rna draft payload": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Assign": {
              "draftPayload": "{% $states.result.Payload.payload %}"
            },
            "Arguments": {
              "FunctionName": "${__get_draft_payload_lambda_function_arn__}",
              "Payload": {
                "portalRunId": "{% $draftPortalRunIdMapIter %}"
              }
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException",
                  "Lambda.TooManyRequestsException"
                ],
                "IntervalSeconds": 1,
                "MaxAttempts": 3,
                "BackoffRate": 2,
                "JitterStrategy": "FULL"
              }
            ],
            "Next": "Get workflows"
          },
          "Get workflows": {
            "Type": "Parallel",
            "Branches": [
              {
                "StartAt": "Get dragen rna outputs from portal run id",
                "States": {
                  "Get dragen rna outputs from portal run id": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::lambda:invoke",
                    "Output": {
                      "alignmentData": "{% $states.result.Payload %}"
                    },
                    "Arguments": {
                      "FunctionName": "${__get_dragen_rna_outputs_from_portal_run_id_lambda_function_arn__}",
                      "Payload": {
                        "portalRunId": "{% $upstreamPortalRunId %}"
                      }
                    },
                    "Retry": [
                      {
                        "ErrorEquals": [
                          "Lambda.ServiceException",
                          "Lambda.AWSLambdaException",
                          "Lambda.SdkClientException",
                          "Lambda.TooManyRequestsException"
                        ],
                        "IntervalSeconds": 1,
                        "MaxAttempts": 3,
                        "BackoffRate": 2,
                        "JitterStrategy": "FULL"
                      },
                      {
                        "ErrorEquals": ["StopIteration"],
                        "BackoffRate": 2,
                        "IntervalSeconds": 100,
                        "MaxAttempts": 3
                      }
                    ],
                    "End": true
                  }
                }
              },
              {
                "StartAt": "Placeholder (Get Workflows)",
                "States": {
                  "Placeholder (Get Workflows)": {
                    "Type": "Pass",
                    "End": true
                  }
                }
              }
            ],
            "Assign": {
              "newWorkflowInputs": "{% $states.result ~> $merge %}"
            },
            "Next": "Add workflow outputs to arriba inputs"
          },
          "Add workflow outputs to arriba inputs": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Assign": {
              "draftWorkflowRunUpdate": "{% $states.result.Payload.workflowRunUpdate %}",
              "newDraftPayload": "{% $states.result.Payload.workflowRunUpdate.payload %}"
            },
            "Arguments": {
              "FunctionName": "${__generate_wru_event_object_with_merged_data_lambda_function_arn__}",
              "Payload": {
                "portalRunId": "{% $draftPortalRunIdMapIter %}",
                "payload": "{% $draftPayload %}",
                "upstreamData": "{% $newWorkflowInputs %}"
              }
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException",
                  "Lambda.TooManyRequestsException"
                ],
                "IntervalSeconds": 1,
                "MaxAttempts": 3,
                "BackoffRate": 2,
                "JitterStrategy": "FULL"
              }
            ],
            "Next": "Check payload has changed"
          },
          "Check payload has changed": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Output": {
              "hasChanged": "{% $states.result.Payload.hasChanged %}"
            },
            "Arguments": {
              "FunctionName": "${__compare_payload_lambda_function_arn__}",
              "Payload": {
                "oldPayload": "{% $draftPayload %}",
                "newPayload": "{% $newDraftPayload %}"
              }
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException",
                  "Lambda.TooManyRequestsException"
                ],
                "IntervalSeconds": 1,
                "MaxAttempts": 3,
                "BackoffRate": 2,
                "JitterStrategy": "FULL"
              }
            ],
            "Next": "Payload has changed"
          },
          "No changes": {
            "Type": "Pass",
            "End": true
          },
          "Payload has changed": {
            "Type": "Choice",
            "Choices": [
              {
                "Condition": "{% $states.input.hasChanged ? true : false %}",
                "Next": "Put WRU Update",
                "Comment": "Payload differs to previous one"
              }
            ],
            "Default": "No changes"
          },
          "Put WRU Update": {
            "Type": "Task",
            "Resource": "arn:aws:states:::events:putEvents",
            "Arguments": {
              "Entries": [
                {
                  "Detail": "{% $merge([\n  $draftWorkflowRunUpdate,\n  {\n    \"timestamp\": $states.context.State.EnteredTime\n  }\n])\n/* Remove null inputs like id */\n~> $sift(function($v, $k){$v != null}) %}",
                  "DetailType": "${__workflow_run_update_event_detail_type__}",
                  "EventBusName": "${__event_bus_name__}",
                  "Source": "${__stack_source__}"
                }
              ]
            },
            "End": true
          }
        }
      },
      "Items": "{% $draftPortalRunIdList %}",
      "End": true
    },
    "No arriba portal run id found": {
      "Type": "Pass",
      "End": true
    }
  },
  "QueryLanguage": "JSONata"
}
