app/step-functions-templates/populate_draft_data_sfn_template.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Set inputs as vars",
  "States": {
    "Set inputs as vars": {
      "Type": "Pass",
      "Next": "Validate draft data",
      "Assign": {
        "detail": "{% $states.input %}",
        "libraryList": "{% $states.input.libraries %}",
        "rgidList": "{% $states.input.libraries.(readsets).(rgid) ? [ $states.input.libraries.(readsets).(rgid) ] : null %}",
        "payload": "{% (\n  $states.input.payload ? \n  $states.input.payload : {\n    \"version\": \"${__default_payload_version__}\"\n  }\n) %}",
        "data": "{% $states.input.payload.data ? $states.input.payload.data : {} %}",
        "engineParameters": "{% $states.input.payload.data.engineParameters ? $states.input.payload.data.engineParameters : {} %}",
        "tags": "{% $states.input.payload.data.tags ? $states.input.payload.data.tags : {} %}",
        "inputs": "{% $states.input.payload.data.inputs ? $states.input.payload.data.inputs : {} %}"
      }
    },
    "Validate draft data": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "${__validate_draft_data_complete_schema_lambda_function_arn__}",
        "Payload": "{% $data %}"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Draft data is valid"
    },
    "Draft data is valid": {
      "Type": "Choice",
      "Choices": [
        {
          "Condition": "{% $states.input.isValid %}",
          "Next": "Success"
        }
      ],
      "Default": "Get workflow object"
    },
    "Get workflow object": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "${__get_workflow_run_object_lambda_function_arn__}",
        "Payload": {
          "portalRunId": "{% $detail.portalRunId %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Do we have matching libraries",
      "Assign": {
        "draftWorkflowRunObject": "{% $states.result.Payload.workflowRunObject %}"
      }
    },
    "Do we have matching libraries": {
      "Type": "Choice",
      "Choices": [
        {
          "Comment": "All libraries in tags",
          "Next": "Get Engine parameters",
          "Condition": "{% /* https://try.jsonata.org/XDJvywd0c */\n/* Compare the draft tags to the libraries */\n/* Get the draft tags */\n(\n    [ \n        $tags.(libraryId)\n    ] ~> $sort\n)\n=\n/* Get the draft detail libraries */ \n(\n    [\n        $libraryList.(libraryId)\n    ] ~> $sort \n) %}"
        }
      ],
      "Default": "Get primitive tags from linked libraries"
    },
    "Get primitive tags from linked libraries": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Arguments": {
        "FunctionName": "${__get_libraries_lambda_function_arn__}",
        "Payload": {
          "libraries": "{% $libraryList %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Get Engine parameters",
      "Assign": {
        "tags": "{% $merge(\n  [\n    $states.result.Payload,\n    $tags\n  ]\n) %}"
      }
    },
    "Success": {
      "Type": "Succeed"
    },
    "Get Engine parameters": {
      "Type": "Parallel",
      "Next": "Get tags",
      "Branches": [
        {
          "StartAt": "Has Project ID",
          "States": {
            "Has Project ID": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "Use provided project id",
                  "Condition": "{% $engineParameters.projectId ? true : false %}",
                  "Comment": "Project ID Provided"
                }
              ],
              "Default": "Get Default Project Id"
            },
            "Use provided project id": {
              "Type": "Pass",
              "End": true,
              "Output": {
                "projectId": "{% $engineParameters.projectId %}"
              }
            },
            "Get Default Project Id": {
              "Type": "Task",
              "Arguments": {
                "Name": "${__default_project_id_ssm_parameter_name__}"
              },
              "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
              "End": true,
              "Output": {
                "projectId": "{% $states.result.Parameter.Value %}"
              }
            }
          }
        },
        {
          "StartAt": "Has Pipeline ID",
          "States": {
            "Has Pipeline ID": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "Use provided pipeline id",
                  "Condition": "{% ($engineParameters.pipelineId ? $engineParameters.pipelineId : $detail.workflow.executionEnginePipelineId ) ? true : false %}",
                  "Comment": "Pipeline ID Provided"
                }
              ],
              "Default": "Get default pipeline id"
            },
            "Use provided pipeline id": {
              "Type": "Pass",
              "End": true,
              "Output": {
                "pipelineId": "{% $engineParameters.pipelineId ? $engineParameters.pipelineId : $detail.workflow.executionEnginePipelineId %}"
              }
            },
            "Get default pipeline id": {
              "Type": "Task",
              "Arguments": {
                "Name": "{% '${__workflow_id_to_pipeline_id_ssm_parameter_path_prefix__}/' & $detail.workflow.version %}"
              },
              "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
              "End": true,
              "Output": {
                "pipelineId": "{% $states.result.Parameter.Value %}"
              }
            }
          }
        },
        {
          "StartAt": "Has Output URI",
          "States": {
            "Has Output URI": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "Use provided output uri",
                  "Condition": "{% $engineParameters.outputUri ? true : false %}",
                  "Comment": "Output URI Provided"
                }
              ],
              "Default": "Get default output uri prefix"
            },
            "Use provided output uri": {
              "Type": "Pass",
              "End": true,
              "Output": {
                "outputUri": "{% $engineParameters.outputUri %}"
              }
            },
            "Get default output uri prefix": {
              "Type": "Task",
              "Arguments": {
                "Name": "${__default_output_uri_prefix_ssm_parameter_name__}"
              },
              "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
              "End": true,
              "Output": {
                "outputUri": "{% $states.result.Parameter.Value & $detail.portalRunId & '/' %}"
              }
            }
          }
        },
        {
          "StartAt": "Has Logs URI",
          "States": {
            "Has Logs URI": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "Use provided logs uri",
                  "Condition": "{% $engineParameters.logsUri ? true : false %}",
                  "Comment": "Logs URI Provided"
                }
              ],
              "Default": "Get default logs uri prefix"
            },
            "Use provided logs uri": {
              "Type": "Pass",
              "End": true,
              "Output": {
                "logsUri": "{% $engineParameters.logsUri %}"
              }
            },
            "Get default logs uri prefix": {
              "Type": "Task",
              "Arguments": {
                "Name": "${__default_logs_uri_prefix_ssm_parameter_name__}"
              },
              "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
              "End": true,
              "Output": {
                "logsUri": "{% $states.result.Parameter.Value & $detail.portalRunId & '/' %}"
              }
            }
          }
        }
      ],
      "Assign": {
        "engineParameters": "{% /* https://try.jsonata.org/6nUH8BUBr */\n [ $engineParameters, $merge($states.result) ] ~> $merge  %}"
      }
    },
    "Get tags": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Get fastq list rgids from library",
          "States": {
            "Get fastq list rgids from library": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Arguments": {
                "FunctionName": "${__get_fastq_rgids_from_library_id_lambda_function_arn__}",
                "Payload": {
                  "libraryId": "{% $tags.libraryId %}",
                  "rgidList": "{% $rgidList %}"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2,
                  "JitterStrategy": "FULL"
                }
              ],
              "Output": {
                "fastqRgidList": "{% $states.result.Payload.fastqRgidList %}"
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "Get subject and individual id tags",
          "States": {
            "Get subject and individual id tags": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Arguments": {
                "FunctionName": "${__get_metadata_tags_lambda_function_arn__}",
                "Payload": {
                  "libraryId": "{% $tags.libraryId %}"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2,
                  "JitterStrategy": "FULL"
                }
              ],
              "End": true,
              "Output": {
                "subjectId": "{% $states.result.Payload.libraryObj.subject.subjectId %}",
                "individualId": "{% $count($states.result.Payload.libraryObj.subject.individualSet) > 0 ? $states.result.Payload.libraryObj.subject.individualSet[0].individualId : $states.result.Payload.libraryObj.subject.subjectId %}"
              }
            }
          }
        }
      ],
      "Next": "Get libraries with readsets",
      "Assign": {
        "tags": "{% /* https://try.jsonata.org/05K2l3beH */\n/* List to merge together */\n[\n    /* Start with the draft tags */\n    $tags,\n    /* Merge the results list together */\n    $merge($states.result)\n] \n/* Then merge these initial tags with states.result  */\n~> $merge\n/* Remove any keys with values */\n~> $sift(function($v, $k){$v != null}) %}"
      }
    },
    "Get libraries with readsets": {
      "Type": "Parallel",
      "Next": "Get inputs",
      "Branches": [
        {
          "StartAt": "For each rgid (readsets)",
          "States": {
            "For each rgid (readsets)": {
              "Type": "Map",
              "Items": "{% $tags.fastqRgidList ? $tags.fastqRgidList : [] %}",
              "ItemProcessor": {
                "ProcessorConfig": {
                  "Mode": "INLINE"
                },
                "StartAt": "Get readset from rgid id",
                "States": {
                  "Get readset from rgid id": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::lambda:invoke",
                    "Arguments": {
                      "FunctionName": "${__get_fastq_id_list_from_rgid_list_lambda_function_arn__}",
                      "Payload": {
                        "fastqRgidList": "{% [$states.input] %}"
                      }
                    },
                    "Retry": [
                      {
                        "ErrorEquals": [
                          "Lambda.ServiceException",
                          "Lambda.AWSLambdaException",
                          "Lambda.SdkClientException",
                          "Lambda.TooManyRequestsException"
                        ],
                        "IntervalSeconds": 1,
                        "MaxAttempts": 3,
                        "BackoffRate": 2,
                        "JitterStrategy": "FULL"
                      }
                    ],
                    "End": true,
                    "Output": {
                      "orcabusId": "{% $states.result.Payload.fastqIdList[0] %}",
                      "rgid": "{% $states.input %}"
                    }
                  }
                }
              },
              "End": true,
              "Output": {
                "library": "{% [\n  /* Draft libraries list */\n  $libraryList ~>\n  $single(function($libraryIter){\n    $libraryIter.libraryId = $tags.libraryId\n  }),\n  {\n    \"readsets\": $states.result\n  }\n] ~>\n$merge %}"
              }
            }
          }
        },
        {
          "StartAt": "Placeholder (libraries with readsets)",
          "States": {
            "Placeholder (libraries with readsets)": {
              "Type": "Pass",
              "End": true,
              "Output": {}
            }
          }
        }
      ],
      "Assign": {
        "libraryList": "{% $states.result.(library) %}"
      }
    },
    "Get inputs": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Get dragen wgts rna succeeded event",
          "States": {
            "Get dragen wgts rna succeeded event": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Assign": {
                "upstreamWorkflowRunObject": "{% $states.result.Payload.workflowRunList? $states.result.Payload.workflowRunList[0] : null %}"
              },
              "Arguments": {
                "FunctionName": "${__find_latest_workflow_lambda_function_arn__}",
                "Payload": {
                  "workflowName": "${__dragen_wgts_rna_workflow_name__}",
                  "libraries": "{% [$libraryList] %}",
                  "analysisRunId": "{% $draftWorkflowRunObject.analysisRun ? $draftWorkflowRunObject.analysisRun.orcabusId : null %}",
                  "status": "${__succeeded_status__}"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2,
                  "JitterStrategy": "FULL"
                }
              ],
              "Next": "Dragen WGTS RNA succeeded workflow found"
            },
            "Dragen WGTS RNA succeeded workflow found": {
              "Type": "Choice",
              "Choices": [
                {
                  "Condition": "{% $upstreamWorkflowRunObject ? true : false %}",
                  "Next": "Get dragen rna inputs from portal run id"
                }
              ],
              "Default": "No dragen WGTS RNA output data found"
            },
            "Get dragen rna inputs from portal run id": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Output": {
                "alignmentData": "{% $states.result.Payload %}"
              },
              "Arguments": {
                "FunctionName": "${__get_dragen_rna_outputs_from_portal_run_id_lambda_function_arn__}",
                "Payload": {
                  "portalRunId": "{% $upstreamWorkflowRunObject.portalRunId %}"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2,
                  "JitterStrategy": "FULL"
                }
              ],
              "End": true
            },
            "No dragen WGTS RNA output data found": {
              "Type": "Pass",
              "End": true,
              "Output": {}
            }
          }
        },
        {
          "StartAt": "Placeholder (Get inputs)",
          "States": {
            "Placeholder (Get inputs)": {
              "Type": "Pass",
              "Output": {},
              "End": true
            }
          }
        }
      ],
      "Next": "Add reference data",
      "Assign": {
        "inputs": "{% /* https://try.jsonata.org/ZAkTIin-h */\n[\n  /* Then take what weve got in the draft inputs */\n  $inputs,\n  /* Combine the states results for the dragen rna outputs */\n  (\n   [\n     $states.result\n   ] ~> $merge\n  ),\n  /* Add in the required sampleName */\n  /* These must match the value of the library id */\n  {\n    \"sampleName\": $tags.libraryId\n  }  \n]\n/* Combine list of objects */\n~> $merge\n/* Sift out inputs with null values */\n~> $sift(function($v, $k){ $v != null }) %}"
      }
    },
    "Add reference data": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Has reference fasta",
          "States": {
            "Has reference fasta": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "Set reference fasta as is",
                  "Condition": "{% $inputs.referenceFasta ? true : false %}"
                }
              ],
              "Default": "Get default reference version"
            },
            "Set reference fasta as is": {
              "Type": "Pass",
              "Output": {},
              "End": true
            },
            "Get default reference version": {
              "Type": "Task",
              "Arguments": {
                "Name": "{% '${__reference_version_ssm_parameter_prefix__}/' & $detail.workflow.version %}"
              },
              "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
              "Next": "Get reference path from reference version",
              "Output": {
                "referenceVersion": "{% $states.result.Parameter.Value %}"
              }
            },
            "Get reference path from reference version": {
              "Type": "Task",
              "Arguments": {
                "Name": "{% '${__reference_path_ssm_parameter_prefix__}/' & $states.input.referenceVersion %}"
              },
              "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
              "End": true,
              "Output": {
                "referenceFasta": "{% $states.result.Parameter.Value %}"
              }
            }
          }
        },
        {
          "StartAt": "Has annotation file",
          "States": {
            "Has annotation file": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "Annotation file as is",
                  "Condition": "{% $inputs.annotationGtf ? true : false %}"
                }
              ],
              "Default": "Get default annotation version"
            },
            "Annotation file as is": {
              "Type": "Pass",
              "End": true,
              "Output": {}
            },
            "Get default annotation version": {
              "Type": "Task",
              "Arguments": {
                "Name": "{% '${__annotation_version_ssm_parameter_prefix__}/' & $detail.workflow.version %}"
              },
              "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
              "Next": "Get annotation path from annotation version",
              "Output": {
                "annotationVersion": "{% $states.result.Parameter.Value %}"
              }
            },
            "Get annotation path from annotation version": {
              "Type": "Task",
              "Arguments": {
                "Name": "{% '${__annotation_path_ssm_parameter_prefix__}/' & $states.input.annotationVersion %}"
              },
              "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
              "End": true,
              "Output": {
                "annotationGtf": "{% $states.result.Parameter.Value %}"
              }
            }
          }
        },
        {
          "StartAt": "Has blacklist",
          "States": {
            "Has blacklist": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "Set blacklist as is",
                  "Condition": "{% $inputs.blacklistTsv ? true : false %}"
                }
              ],
              "Default": "Get blacklist"
            },
            "Set blacklist as is": {
              "Type": "Pass",
              "End": true,
              "Output": {}
            },
            "Get blacklist": {
              "Type": "Task",
              "Arguments": {
                "Name": "{% '${__blacklist_path_ssm_parameter_prefix__}/' & $detail.workflow.version %}"
              },
              "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
              "End": true,
              "Output": {
                "blacklistTsv": "{% $states.result.Parameter.Value %}"
              }
            }
          }
        },
        {
          "StartAt": "Has cytobands",
          "States": {
            "Has cytobands": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "Set cytobands as is",
                  "Condition": "{% $inputs.cytobandsTsv ? true : false %}"
                }
              ],
              "Default": "Get cytobands"
            },
            "Set cytobands as is": {
              "Type": "Pass",
              "End": true,
              "Output": {}
            },
            "Get cytobands": {
              "Type": "Task",
              "Arguments": {
                "Name": "{% '${__cytoband_path_ssm_parameter_prefix__}/' & $detail.workflow.version %}"
              },
              "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
              "End": true,
              "Output": {
                "cytobandsTsv": "{% $states.result.Parameter.Value %}"
              }
            }
          }
        },
        {
          "StartAt": "Has protein domains",
          "States": {
            "Has protein domains": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "Set protein domains as is",
                  "Condition": "{% $inputs.proteinDomainsGff3 ? true : false %}"
                }
              ],
              "Default": "Get Protein Domains"
            },
            "Set protein domains as is": {
              "Type": "Pass",
              "End": true,
              "Output": {}
            },
            "Get Protein Domains": {
              "Type": "Task",
              "Arguments": {
                "Name": "{% '${__protein_domain_path_ssm_parameter_prefix__}/' & $detail.workflow.version %}"
              },
              "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
              "End": true,
              "Output": {
                "proteinDomainsGff3": "{% $states.result.Parameter.Value %}"
              }
            }
          }
        }
      ],
      "Next": "Make new WRU event",
      "Assign": {
        "inputs": "{% /* https://try.jsonata.org/ZAkTIin-h */\n[\n  $inputs,\n  ([$states.result] ~> $merge)\n] ~> $merge\n/* Sift out inputs with null values */\n~> $sift(function($v, $k){ $v != null }) %}"
      }
    },
    "Make new WRU event": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "${__generate_wru_event_object_with_merged_data_lambda_function_arn__}",
        "Payload": {
          "portalRunId": "{% $detail.portalRunId %}",
          "libraries": "{% [$libraryList] %}",
          "payload": {
            "version": "{% $payload.version ? $payload.version : '${__default_payload_version__}' %}",
            "data": {
              "inputs": "{% $inputs %}",
              "tags": "{% $tags %}",
              "engineParameters": "{% $engineParameters %}"
            }
          }
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Compare payload",
      "Assign": {
        "workflowRunUpdate": "{% $states.result.Payload.workflowRunUpdate %}"
      }
    },
    "Compare payload": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "${__compare_payload_lambda_function_arn__}",
        "Payload": {
          "oldPayload": "{% $payload ~> \n| $ | {}, [\"orcabusId\", \"refId\"] | %}",
          "newPayload": "{% $workflowRunUpdate.payload %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Has changed"
    },
    "Has changed": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "Put DRAFT WRU event",
          "Condition": "{% $states.input.hasChanged %}",
          "Comment": "Payload has changed"
        }
      ],
      "Default": "Skip push event"
    },
    "Put DRAFT WRU event": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents",
      "Arguments": {
        "Entries": [
          {
            "Detail": "{% $merge([\n  $workflowRunUpdate,\n  {\n    \"timestamp\": $states.context.State.EnteredTime }\n])\n/* Remove null inputs like id */\n~> $sift(function($v, $k){$v != null}) %}",
            "DetailType": "${__workflow_run_update_event_detail_type__}",
            "EventBusName": "${__event_bus_name__}",
            "Source": "${__stack_source__}"
          }
        ]
      },
      "End": true
    },
    "Skip push event": {
      "Type": "Pass",
      "End": true
    }
  },
  "QueryLanguage": "JSONata"
}
